/* 
level 5 = #0e103d
level 4 = #69306d
level 3 = #a5668b
level 2 = #d3bcc0
level 1 = #f2d7ee
*/
.store_container {
  width: 100%;
  height: 100%;
  padding: 100px 60px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: transparent;
  column-gap: 4%;
  row-gap: 30px;
}
